<!DOCTYPE html>
<html>
<body>
  <div class="header">
    <h1 style="margin-right: auto;">Panel Custodios</h1>
    
    </div>
    <div class="button-container">
      <button>Actualizar</button>
      <button>Activo</button>
      <button>Inactivo</button>
      <button>Generar Reporte</button>
      <button>Editar</button>


      <input type="text" class="search-input" placeholder="Buscar">
  </div>
  
  <table>
    <tr>
      <th>Codigo</th>
      <th>Usuario</th>
      <th>Contraseña</th>
      <th>Código Persona</th>
      <th>Admin Código</th>
    </tr>
    <tr>
      <td>Dato 1</td>
      <td>Dato 2</td>
      <td>Dato 3</td>
      <td>Dato 4</td>
      <td>Dato 5</td>
    </tr>
    <tr>
      <td>Dato 1</td>
      <td>Dato 2</td>
      <td>Dato 3</td>
      <td>Dato 4</td>
      <td>Dato 5</td>
    </tr>
    <tr>
      <td>Dato 1</td>
      <td>Dato 2</td>
      <td>Dato 3</td>
      <td>Dato 4</td>
      <td>Dato 5</td>
    </tr>
  </table>
</body>
</html>