<!-- <!DOCTYPE html>
<html>
<head>
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }
    
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    
  </style>
</head>
<body>
  <div class="container">
  Contenido de tu página -->
  <!--</div>

  <footer class="footer">
    <div class="texto_footer">
      <p class="texto-1">Tecnólogico del Azuay</p>
      <p class="texto-2">Instituto Universitario</p>
    </div>
  </footer>
</body>
</html> -->