x.container {
    flex: 1;
}

.footer {
    margin-top: 45px;
    font-family: "Poppins", sans-serif;
}


.texto_footer {
    width: 100%;
    height: 64px;
    background-color: #1976d5;
    padding: 5px 0;
    text-align: center;
    color: white;
}

.texto-1 {
    font-size: 13px;
}

.texto-2 {
    font-size: 10px;
}