<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .container {
    flex: 1;
    /* Hace que el contenido de la clase container se expanda para ocupar el espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>


<footer class="footer">
  <div class="texto_footer">
    <p class="texto-1">Tecnológico del Azuay</p>
    <p class="texto-2">Instituto Universitario</p>
  </div>
</footer>