<div class="container"><br><br>

    <div class="card border-primary mb-3">
      <div class="card-header">Historial</div>
      <div class="card-body text-primary">
        <br>
        <h5 class="card-title" style="margin-bottom: 16px;">Historial de cambios de custodio</h5>
        <table class="table table-bordered table-striped text-center">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Cédula</th>
              <th>Custodio</th>
              <th>Bien</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Historial of historial">
              <td>{{historial.his_cod}}</td>
              <td>{{propietario.pro_direccion}}</td>
              <td>{{propietario.pro_nombre}}</td>
              <td>{{propietario.pro_telefono}}</td>
              <td>{{ propietario.pro_estado ? 'Verdadero' : 'Falso' }}</td>
              <td>
                <button style="border: none; background: transparent;" [routerLink]="['/propietario/form', historial.his_cod]">
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>