
<app-header></app-header>
<div class="card-body"> 
    <div class="container">
        <div class="row">
            <div class="col-sm">           
                <button class="btn btn-primary btn-sm">Generar Traspaso</button>
            </div>
            <div class="col-sm">
                <button class="btn btn-primary btn-sm">Subir Acta</button>
            </div>
            <div class="col-sm">
                <button class="btn btn-primary btn-sm">Subir Excel</button>
            </div>
            <div class="col-sm">
                <button class="btn btn-primary btn-sm">Asignar Custodio</button>
            </div>
            <div class="col-sm">
                <button class="btn btn-primary btn-sm">Editar</button>
            </div>
            <div class="col-sm">
                <form action="" class="form">
                    <div class="form-group">
                        <input type="text" class="form-control typehead" name="" id="" aria-describedby="helpId" placeholder="Buscar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="py-5 table-responsive">
        <table class="table table-bordered table-sm small">
            <thead>
                <tr class="btn-primary disabled font-weight-bold">
                    <td>Código</td>
                    <td>Modelo</td>
                    <td>Marca</td>
                    <td>Estado</td>
                    <td>Descripción</td>
                    <td>Serie</td>
                    <td>Propietario</td>
                    <td>Precio</td>
                    <td>Edificio</td>
                    <td>Categoria</td>
                    <td>Custodio</td>
                    <td>Editar</td>
                </tr>
            </thead>

            <tbody>
                <tr class="text-center">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>12</td>
                    <td>
                        <button class="btn btn-secondary btn-sm">Editar</button>
                    </td>
                </tr>
                <tr class="text-center">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>12</td>
                    <td>
                        <button class="btn btn-secondary btn-sm">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>