
<app-header></app-header>
<div class="card-body"> 
    <div class="container">
        <div class="row">
            <div class="col-sm">           
                <button class="btn btn-primary btn-sm">Generar Traspaso</button>
                <div class="mb-3">
                    <label for="formFileSm" class="form-label">Small file input example</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="file">
                  </div>
            </div>
            <div class="col-sm">
                <button class="btn btn-primary btn-sm">Subir Acta</button>
            </div>
            <div class="col-sm">
                <button class="btn btn-primary btn-sm">Subir Excel</button>
            </div>
            <div class="col-sm">
                <form action="" class="form">
                    <div class="form-group">
                        <input type="text" class="form-control typehead" name="" id="" aria-describedby="helpId" placeholder="Buscar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="py-5 table-responsive">
        <table class="table table-bordered table-sm small">
            <thead>
                <tr class="btn-primary disabled font-weight-bold">
                    <td>Cedula</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Telefono</td>
                    <td>Género</td>
                    <td>Email</td>
                    <td>Fecha de nacimiento</td>
                    <td>Rol Otorgado</td>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let cust of usuariosCustodios" class="text-center" >
                    <td>{{cust.persona.perCedula}}</td>
                    <td>{{cust.persona.perPrimerNom}}</td>
                    <td>{{cust.persona.perApellidoMater}}</td>
                    <td>{{cust.persona.perTelefono}}</td>
                    <td>{{cust.persona.perGenero === 'M' ? 'Masculino':'Femenino'}}</td>
                    <td>{{cust.persona.perEmail}}</td>
                    <td>{{cust.persona.perFechaNac}}</td>
                    <td *ngFor="let rol of cust.roles">
                        <ng-container *ngIf="rol.rol_nombre === 'Custodio'">
                            {{ rol.rol_nombre }}
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>