
<!DOCTYPE html>
<html>
<body>
  <div class="header">
    <h1 style="margin-right: auto;">Panel de Ubicacion</h1>
    
    </div>
    <div class="button-container">
      <button>Crear Ubicacion</button>
      <button>Activo</button>
      <button>Inactivo</button>
      <button>Editar</button>


      <input type="text" class="search-input" placeholder="Buscar">
  </div>
  
  <table>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Departamento</th>
    </tr>
    <tr>
      <td> </td>
      <td>  </td>
      <td>  </td>
    </tr>
    <tr>
      <td> </td>
      <td>  </td>
      <td>  </td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
    </tr>
  </table>
</body>
</html>