<app-headerSuper *ngIf="rolUsuario === ''"></app-headerSuper>
<app-headerSuper *ngIf="rolUsuario === 'Super Usuario'"></app-headerSuper>
<app-header *ngIf="rolUsuario === 'Rector'"></app-header>
<!DOCTYPE html>

<meta charset="utf-8">

<html>

    


  <div>
    <div class="header">
      <h1 style="margin-right: auto;">Panel De Ubicacion</h1>
    </div>
     
        <div class="button-container">
            <button style="margin-left: 10%;" routerLink="/form-ubicaciones"> Crear Ubicacion </button>
            <button style="margin-left: auto;">Activo</button>
            <button style="margin-left: auto;">Inactivo</button>
            <button style="margin-left: auto;" (click)="editarUbicacion()">Editar</button>

            <input type="text" class="buscar" placeholder="Buscar">
        </div>

        <table>
            <thead>
              <tr class="firstRow">
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Departamento</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ubicacion of ubicaciones" [ngClass]="{ 'selected-row': ubicacion.ubi_cod === selectedUbicacionId }" (click)="seleccionarUbicacion(ubicacion.ubi_cod)">
                <td>{{ ubicacion.ubi_cod }}</td>
                <td>{{ ubicacion.ubi_nombre }}</td>
                <td>{{ ubicacion.ubi_departamento }}</td>
              </tr>
            </tbody>
          </table>
    </div>
</html>
<app-footer></app-footer>