<!DOCTYPE html>
<html>
<body>
  <div class="header">
    <h1 style="margin-right: auto;">Panel Ingresar Categoría</h1>
    
    </div>
    <div class="button-container">
      <button>Ingresar Categoría</button>
      <button>Activo</button>
      <button>Inactivo</button>
      <button>Editar</button>
      <input type="text" class="search-input" placeholder="Buscar">
  </div>
  
  <table>
    <tr>
      <th>Codigo</th>
      <th>Descripción</th>
      <th>Nombre</th>
    </tr>
    <tr>
      <td>Dato 1</td>
      <td>Dato 2</td>
      <td>Dato 3</td>
    </tr>
    <tr>
      <td>Dato 1</td>
      <td>Dato 2</td>
      <td>Dato 3</td>
    </tr>
    <tr>
      <td>Dato 1</td>
      <td>Dato 2</td>
      <td>Dato 3</td>
    </tr>
  </table>
</body>
</html>