tr.selected {
  background-color: rgb(213, 248, 172);
}

.btn-primary {
  background-color: #1976d5;
  font-weight: bolder;
  margin: 2px 1px;
}

.btn-fixed-height {
  height: 40px;
  width: 140px;
}
.btn-fixed {
  height: 40px;
  width: 100px;
}

.modal-footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-footer-form .button-close {
  padding-top: -20px;
}

@media (max-width: 768px) {
  .modal-footer-form {
    flex-direction: column;
  }
}

.button-close {
  width: 20%;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #535353;
  color: white;
}

@media (min-width: 768px) {
  .button-close {
    width: 20%;
    padding: 8px;
  }
}

.form-body {
  padding: 10px 40px 0px;
  display: grid;
  gap: 10px;
  text-align: center;
}

.button-close:hover {
  background-color: #605f5f;
}