tr.selected {
  background-color: rgb(213, 248, 172);
}

.btn-primary {
  background-color: #1976d5;
  font-weight: bolder;
}

.modal-footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .modal-footer-form {
    flex-direction: column;
  }
}

.button-close {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #535353;
  color: white;
}

@media (min-width: 768px) {
  .button-close {
    width: 50%;
    padding: 8px;
  }
}

.button-close:hover {
  background-color: #605f5f;
}