<div class="container">
    <h2>Perfil de usuario</h2>
    <form>
      <div class="mb-3">
        <label for="primerNombre" class="form-label">Primer Nombre</label>
        <input type="text" class="form-control" id="primerNombre" value="{{ datosUsuario[1] }}" readonly>
      </div>
      <div class="mb-3">
        <label for="segundoNombre" class="form-label">Segundo Nombre</label>
        <input type="text" class="form-control" id="segundoNombre" value="{{ datosUsuario[2] }}" readonly>
      </div>
      <div class="mb-3">
        <label for="primerApellido" class="form-label">Primer Apellido</label>
        <input type="text" class="form-control" id="primerApellido" value="{{ datosUsuario[3] }}" readonly>
      </div>
      <div class="mb-3">
        <label for="segundoApellido" class="form-label">Segundo Apellido</label>
        <input type="text" class="form-control" id="segundoApellido" value="{{ datosUsuario[4] }}" readonly>
      </div>
      <div class="mb-3">
        <label for="cedula" class="form-label">Cédula</label>
        <input type="text" class="form-control" id="cedula" value="{{ datosUsuario[0] }}" readonly>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" value="{{ datosUsuario[5] }}" readonly>
      </div>
      <div class="mb-3">
        <label for="usuario" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="usuario" value="{{ datosUsuario[6] }}" readonly>
      </div>
      <div class="mb-3">
        <label for="contrasenia" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="contrasenia" value="**********" readonly>
      </div>
    </form>
  </div>
  