* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.formulario {
  margin: auto;
  margin-top: 25px;
  border: 1px solid black;
}

.titulo_formulario {
  background-color: #1976d5;
  color: white;
  font-size: 15px;
  padding: 30px;
  text-align: center;
}

.contenedor_formulario {
  padding: 40px;
  display: grid;
  gap: 10px;
  text-align: center;
}

.form-control, .btn {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}